body{
    background: #d2d2c1 url('imagens/fundo.png') ;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******formataao layout******/



.principal{
    width: 900px;
    
}

img{

     padding: 20px;
     border-radius: 20px;
     border:1px solid rgb(248, 247, 247);
    
}

.conteudo{

    background:rgb(248, 247, 247);
    padding: 30px;
    margin: 20px;

    margin-top: 60px;
}

.menu{
    background: #ccc;
    
    
}

.menu, a{

    text-decoration: none;
    color: #000;
    padding: 10px;
}

/**********Rodape************/

.rodape{

    background: darkgrey;
    padding: 30px;
    width: 100%;
    margin: 10px;
    text-align: center;

}